body {
  font-family: Helvetica, sans-serif;
}

#jumbo {
  height: 35em;
  padding-top: 9em;
  margin-bottom: 2em;
  background: rgba(0, 0, 0, 0.5);
  background-image: url(./images/BigCheeze_streak_light.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
